<!DOCTYPE html>
<html>
<head>
	<title> Home Page </title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
		}
		.header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}
	</style>
</head>
<body>
	<div class="header">
		<h1>Welcome to My Home Page of Flask project </h1>
	</div>
	<div class="content">
		<h2>About Me</h2>
		<p>I am Amit, a Web Devloper with a passion for Designing Website.</p>
		<h2>My Skills</h2>
		<ul>
			<li>HTML/CSS</li>
			<li>JavaScript</li>
			<li>Python</li>
      			<li>Java</li>
      			<li>C</li>
      			<li>SQL and Database</li>
		</ul>
		<h2>Get in Touch</h2>
		<p>Contact me at av902959@gmail.com or follow me on github </p>
	</div>
</body>
</html>
